# Validates Functions Framework with GCF buildpacks.
name: Buildpack Integration Test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# Declare default permissions as read only.
permissions: read-all

jobs:
  php81-buildpack-test:
    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: GoogleCloudPlatform/functions-framework-conformance/.github/workflows/buildpack-integration-test.yml@main
    with:
      http-builder-source: 'tests/conformance'
      http-builder-target: 'declarativeHttpFunc'
      cloudevent-builder-source: 'tests/conformance'
      cloudevent-builder-target: 'declarativeCloudEventFunc'
      prerun: 'tests/conformance/prerun.sh ${{ github.sha }}'
      output-file: 'vendor/bin/function_output.json'
      builder-runtime: 'php81'
      builder-runtime-version: '">=8.1,<8.2"'
  php82-buildpack-test:
    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: GoogleCloudPlatform/functions-framework-conformance/.github/workflows/buildpack-integration-test.yml@main
    with:
      http-builder-source: 'tests/conformance'
      http-builder-target: 'declarativeHttpFunc'
      cloudevent-builder-source: 'tests/conformance'
      cloudevent-builder-target: 'declarativeCloudEventFunc'
      prerun: 'tests/conformance/prerun.sh ${{ github.sha }}'
      output-file: 'vendor/bin/function_output.json'
      builder-runtime: 'php82'
      builder-runtime-version: '">=8.2,<8.3"'
  php83-buildpack-test:
    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: GoogleCloudPlatform/functions-framework-conformance/.github/workflows/buildpack-integration-test.yml@main
    with:
      http-builder-source: 'tests/conformance'
      http-builder-target: 'declarativeHttpFunc'
      cloudevent-builder-source: 'tests/conformance'
      cloudevent-builder-target: 'declarativeCloudEventFunc'
      prerun: 'tests/conformance/prerun.sh ${{ github.sha }}'
      output-file: 'vendor/bin/function_output.json'
      builder-runtime: 'php83'
      builder-runtime-version: '">=8.3,<8.4"'
