name: PHP Unit CI
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: [ '7.4','8.0','8.1','8.2' ]
    name: PHP ${{ matrix.php-versions }} Unit Test
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
      with:
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          gcr.io:443
          github.com:443
          objects.githubusercontent.com:443
          packagist.org:443
          packagist.org:80
          production.cloudflare.docker.com:443
          registry-1.docker.io:443
          repo.packagist.org:443
          repo.packagist.org:80
          storage.googleapis.com:443
          auth.docker.io:443
          *.githubusercontent.com:443

    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Uses PHP ${{ matrix.php-versions }}
      uses: shivammathur/setup-php@c541c155eee45413f5b09a52248675b1a2575231 # v2
      with:
        php-version: ${{ matrix.php-versions }}
    - name: Install Dependencies
      uses: nick-invision/retry@39da88d5f7d15a96aed861dbabbe8b7443e3182a # v1.0.4
      with:
        timeout_minutes: 10
        max_attempts: 3
        command: composer install
    - name: Run Script
      run: vendor/bin/phpunit
